page-user-home {
    ion-buttons[start] {
        order: 2;
    }
    .pedirStyle{
        height: 100%;
        vertical-align: middle;
        text-align: center;
    }
    ion-grid{
        height: 100%;
    }
    agm-map {
        height: 300px;
      }
}
