<ion-menu id="menuGas" [content]="content">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title>Bienvenido, {{userLogged.name}}</ion-title> -->
        <ion-item class="userPerfil">
          <ion-avatar item-start>
            <img src="assets/imgs/user.png">
          </ion-avatar>
          <h2 *ngIf="userLogged" >Bienvenido,</h2>
          <p *ngIf="userLogged">{{userLogged.name}}  {{userLogged.lastname}}</p>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item >
          Perfil
        </button>
        <button ion-item>
          Mi ubicación
        </button>
        <button ion-item menuClose (click)="signOut()">
          Cerrar sesión
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
